 <!-- header -->
{{> adminheader }}

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
    {{> admintopnav }} 
  <div class="content-wrapper">
    {{> messages}}
    <div class="container">
      <div class="alert alert-secondary text-center">
            <h1>All posts</h1>
      </div>
      {{!-- creating the table --}}
      <table class="table table-bordered">
        <thead class="bg-primary text-center">
        <tr class="text-white">         
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Comments Allowed</th>
            <th>Actions</th>
            {{!-- <th>Category</th>
            <th>Actions</th> --}}
        </tr>
        </thead>
        <tbody class="text-center">
        {{#each posts}}
            <tr>
                <td>{{title}}</td>
                <td>{{description}}</td>
                <td>{{status}}</td>
                <td>{{allowComments}}</td>
                <td class="d-flex">
                  <a href="/admin/posts/edit/{{_id}}" class="bt btn-sm btn-warning">Edit Post</a>
                  <form action="/admin/posts/delete/{{_id}}?newMethod=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger" type="submit">Delete Post</button>
                  </form>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
  </div>
    {{> adminfooter}}